In [2]:
import pandas
import seaborn
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle_data = pandas.read_csv(url, sep= "\t")
chipotle_data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
print(chipotle_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [4]:
print(chipotle_data.describe())

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [5]:
print(chipotle_data.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
## group by item_name and sum the columns in relation to the item_name
non_repeating_items = chipotle_data.groupby("item_name").sum()

## get quantities summed up in relation to item_name, from previosuly grouped data
item_quantities = non_repeating_items["quantity"]

print("NON REPEATING ITEMS LIST:")
print("-------------------")
print(non_repeating_items.head())
print("-------------------")
print("ITEM QUANTITIES:")
print("-------------------")
print(item_quantities.head())

NON REPEATING ITEMS LIST:
-------------------
                       order_id  quantity  \
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

                                                      choice_description  \
item_name
6 Pack Soft Drink      [Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...
Barbacoa Bowl          [Roasted Chili Corn Salsa, [Fajita Vegetables,...
Barbacoa Burrito       [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...
Barbacoa Crispy Tacos  [Tomatillo Red Chili Salsa, [Rice, Black Beans...
Barbacoa Salad Bowl    [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...

                                                              item_price
item_name
6 Pack Soft Drink      $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Barbacoa Bowl          $11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Barbacoa Burrito       $8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Barbacoa Crispy Tacos  $11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl    $11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
-------------------
ITEM QUANTITIES:
-------------------
item_name
6 Pack Soft Drink        55
Barbacoa Bowl            66
Barbacoa Burrito         91
Barbacoa Crispy Tacos    12
Barbacoa Salad Bowl      10
Name: quantity, dtype: int64

In [22]:
## use max() method to get the highest value
most_quantity = item_quantities.max()
print("Most Quantity That Was Ordered:", most_quantity)
## use idxmax() method to get "index" or "label" of the highest value
item_most_quantity = item_quantities.idxmax()
print("Item that was orederd the most:", item_most_quantity)

Most Quantity That Was Ordered: 761
Item that was orederd the most: Chicken Bowl